<div class="on-boarding">
    <img class="rocket" src="./assets/icons/onboarding-rocket.PNG" alt="">
    <p class="title">
        Te damos la bienvenida a <span>Rapid Pay</span>
    </p>
    <p class="description">
        Accede desde RapidPay a tu banca online para autorizar el pago sin intermediarios. Realiza una transferencia segura sin aportar números de cuenta ni de origen ni de destino.
    </p>
    <p class="disclaimer">
        <img src="./assets/icons/on-boarding/exclamation.PNG" alt="">
        No almacenaremos tus claves
    </p>
    <div class="button-container">
        <button (click)="emitContinue()" class="red-button" type="button">Continuar</button>
    </div>
</div>