<div class="footer-container">
    <ul class="items">
        <li><img class="logo" width="100px" src="./assets/logos/rapid_paywhite.png" alt=""></li>
        <li>
            <p>Información a cliente</p>
            <hr>
            <ul>
                <li><a [ngStyle]="{ 'color': colorItems }">Política de
                        privacidad</a></li>
                <li><a [ngStyle]="{ 'color': colorItems }" style="font-size: 14px;" class="">Política de cookies</a>
                </li>
                <li><a [ngStyle]="{ 'color': colorItems }" style="font-size: 14px;"
                        class="ot-sdk-show-settings">Configuración cookies</a></li>
                <li><a [ngStyle]="{ 'color': colorItems }">Aviso legal</a></li>

                <li><a [ngStyle]="{ 'color': colorItems }" target="_blank" href="https://www.santanderconsumer.es/legal/comisiones-intereses">Comisiones y tipos de interés</a></li>
                <li><a [ngStyle]="{ 'color': colorItems }" target="_blank" href="https://www.santanderconsumer.es/legal/tablon-anuncios">Tablón de anuncios</a></li>
                <li><a [ngStyle]="{ 'color': colorItems }" target="_blank" href="https://www.santanderconsumer.es/cuenta-de-pago-basica">Cuenta de pago básica</a></li>
                <li><a [ngStyle]="{ 'color': colorItems }" target="_blank" href="https://www.santanderconsumer.es/legal/atencion-cliente">Servicio de reclamaciones y atención <br> al cliente</a></li>
                <li><a [ngStyle]="{ 'color': colorItems }" target="_blank" href="https://www.santanderconsumer.es/legal/guia-financiera">Guía financiera</a></li>
                <li><a [ngStyle]="{ 'color': colorItems }" target="_blank" href="https://www.santanderdetitulizacion.com/csgs/Satellite?appID=santander.internet.WCTitulizacion&canal=CWCTitul&cid=1210610695299&empr=WCTitulizacion&leng=es_ES&pagename=WCTitulizacion%2FPage%2FWCCSTitulizacion_Page_Our_Team_PT03">Información a inversores</a></li>
                <li><a [ngStyle]="{ 'color': colorItems }" target="_blank" href="https://www.santanderconsumer.es/legal/seguridad">Seguridad</a></li>
                <li><a [ngStyle]="{ 'color': colorItems }" target="_blank" href="https://www.santanderconsumer.es/legal/accesibilidad">Accesibilidad</a></li>
                <li><a [ngStyle]="{ 'color': colorItems }" target="_blank" href="https://www.santanderconsumer.es/legal/terminos-wallet">Términos y condiciones Wallet</a></li>
                <li><a [ngStyle]="{ 'color': colorItems }" target="_blank" href="https://www.santanderconsumer.com/gobierno-corporativo-y-politica-remuneraciones/?lang=es">Gobierno corporativo y Política <br> de remuneraciones</a></li>
                <li><a [ngStyle]="{ 'color': colorItems }" target="_blank" href="https://www.santanderconsumer.es/legal/acuerdo-bei">Acuerdo BEI</a></li>
                <li><a [ngStyle]="{ 'color': colorItems }" target="_blank" href="https://www.santanderconsumer.es/legal/comision-europea">Folleto informativo derechos consumidores <br>Comisión Europea</a></li>
            </ul>
        <li>
            <p>Otras web del grupo</p>
            <hr>
            <ul>
                <li><a [ngStyle]="{ 'color': colorItems }" target="_blank" href="https://www.santanderconsumer.es/">Santander Consumer</a></li>
                <li><a [ngStyle]="{ 'color': colorItems }" target="_blank" href="https://www.santanderconsumerefc.es/">Santander Consumer EFC, S.A.</a></li>
                <li><a [ngStyle]="{ 'color': colorItems }" target="_blank" href="https://www.santanderconsumer.com/">Web Corporativa</a></li>
                <li><a [ngStyle]="{ 'color': colorItems }" target="_blank" href="https://www.santanderconsumer.es/conocenos/quienes-somos">Santander Consumer en el mundo</a></li>
                <li><a [ngStyle]="{ 'color': colorItems }" target="_blank" href="https://www.bancosantander.es/es/particulares">Banco Santander</a></li>
                <li><a [ngStyle]="{ 'color': colorItems }" target="_blank" href="https://www.santander.com/es/home">Grupo Santander Web corporativa</a></li>
                <li><a [ngStyle]="{ 'color': colorItems }" target="_blank" href="https://www.transolverfinance.es/home">Trasolver Finance E.F.C, S.A.</a></li>
                <li><a [ngStyle]="{ 'color': colorItems }" target="_blank" href="https://www.wabicar.com/">Wabi</a></li>
                <li><a [ngStyle]="{ 'color': colorItems }" target="_blank" href="https://www.coches.com/">Coches.com</a></li>
            </ul>
        </li>
        <li>
            <ul>
                <li><a [ngStyle]="{ 'color': colorItems }" target="_blank" href="https://www.santanderconsumer.es/contacto/preguntas-frecuentes">Preguntas frecuentes para clientes</a></li>
                <li><a [ngStyle]="{ 'color': colorItems }" target="_blank" href="https://www.santanderconsumer.es/colaboradores/colaboradores-preguntas">Preguntas frecuentes para colaboradores</a></li>
                <li><a [ngStyle]="{ 'color': colorItems }" target="_blank" href="https://www.santanderconsumer.es/conocenos/colaboradores">Cómo colaborar con nosotros</a></li>
                <li><a [ngStyle]="{ 'color': colorItems }" target="_blank" href="https://www.santanderconsumer.es/contacto">Contacto clientes</a></li>
            </ul>
        </li>
    </ul>
    <p class="copyright" [ngClass]="{'special': classSpecial }" [ngStyle]="{ 'color': colorItems }">© 2020
        {{ (year > 2020) ? '- ' + year : '' }} Santander
        Consumer Finance, S.A. Akana es una marca registrada. Todos
        los derechos reservados.</p>
</div>