// ::ng-deep .mat-form-field-type-mat-date-range-input .mat-form-field-infix {
//   width: 130px !important;
// }
:host {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 20px;
  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent;
  }
  div {
    margin-bottom: -10px;
    font-weight: bold;
  }

}
